.header {
    position: absolute;
    height: 72px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    z-index: 1;
}

.wrapper {
    position: absolute;
    width: 1100px;
    left: calc(50% - 1100px/2);
    top: 72px;
    bottom: 0px;

    background: #FFFFFF;
}